<div class="arCardsWrap">
		<%# Absolute SVG that is displayed on page %>
    <img src="/media/dots.svg" class="dots">

		<%# Cards %>
		<div class="arCards">
				<div class="imgContainer arCard1"></div>
				<article>
					<h3>Skeleton</h3>
					<p>The Skeleton Clavicle (or the collar bone) provides structural support between the shoulder and rest of the skeleton.</p>
				</article>
				<div class="arCardsAWrap"><a href="https://go.echo3d.co/xxrt" target="_blank"><button class="buttonPrimary">View in AR</button></a></div>
			</div>

		<div class="arCards">
			<div class="imgContainer arCard2"></div>
			<article>
				<h3>Human Brain</h3>
				<p>The human brain. A very vital organ in the human body.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://go.echo3d.co/TJZ3" target="_blank"><button class="buttonPrimary">View in AR</button></a></div>
		</div>

		<div class="arCards">
			<div class="imgContainer arCard3"></div>
			<article>
				<h3>Earth</h3>
				<p>Earth is an ellipsoid with a circumference of about 40,000 km. It is the densest planet in the Solar System.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://go.echo3d.co/LpdY" target="_blank"><button class="buttonPrimary">View in AR</button></a></div>
		</div>

    <div class="arCards">
			<div class="imgContainer arCard4"></div>
			<article>
				<h3>Resistance Box</h3>
				<p>An an instrument for measuring and comparing electrical resistances.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://go.echo3d.co/PMa4" target="_blank"><button class="buttonPrimary">View in AR</button></a></div>
		</div>

    <div class="arCards">
			<div class="imgContainer arCard6"></div>
			<article>
				<h3>Ketone</h3>
				<p>Ketones are acids that your body makes when it breaks down fat for energy.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://go.echo3d.co/bL4S" target="_blank"><button class="buttonPrimary">View in AR</button></a></div>
		</div>

</div>