<section class="hero">
	<%# Absolute SVG that is displayed on page %>
	<img src="/media/topItem.svg" class="topItem" />
		<%# Hero Content %>
		<span class="heroWrap">
			<article>
				<h1>Study  
        <span	class="headerSecondaryText">Pedia</span>
        </h1>
				<p>Studypedia is a website aimed to provide a better education with great resources. The level of education a person has unquestionably impacts their quality of life. Education enhances information and skills while also fostering the growth of the personality and attitude. Most significantly, education affects people's prospects of finding work. A person with a lot of education is usually quite likely to land a decent career. It inculcates information, conviction, ability, moral principles, and values. It enhances quality of life and elevates people's social and economic standing. Therefore, we are here to provide resources that advance education.</p>

			
			</article>
			<%# Absolute SVG that is displayed on page %>
		<img class="art" src="/media/art.svg" />
		</span>
</section>